html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin: 0; padding: 0;}
.clr,.clear{clear:both; margin: 0px; padding: 0px;}
body, td, th {
font-family: 'Tahoma','Open Sans', Arial, Helvetica, sans-serif;
font-size: 13px;
color: #333333;
}
body {
margin: 0px;
padding: 0px;
background: url(../images/bg.png);
}
a, a:link, a:visited, a:hover, a:active {
font-family: 'Tahoma','Open Sans', Arial, Helvetica, sans-serif;
color: #3c8915;
outline: none;
text-decoration: none;}
ul, li {
margin: 0;
padding: 0;
list-style-type: none;
}
/**TOP NAV**/
#nav-top {
height: 50px;
background-color: #3c8915;
position: fixed;
width: 100%;
z-index: 1000;
}
.logo {
display: block;
background-image: url(../images/logo.png);
width: 200px;
height: 44px;
float: left;
margin: 0 0 0 6px;
}
.orange-dropdown, a.orange-dropdown:link, a.orange-dropdown:visited, a.orange-dropdown:active {
display: block;
font-weight: bold;
float: right;
color: #ffffff;
margin: 12px 10px 0 0;
background-color: rgb(9, 68, 1);
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
padding: 5px 26px 6px 10px;
font-size: 13px;
line-height: 14px;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
text-decoration: none;
background-image: url(../images/gray_arrow.png);
background-position: right center;
background-repeat: no-repeat;
height: 26px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
a.orange-dropdown:hover, a.orange-dropdown.menu_hoved {
color: white;
background-image: url(../images/white_arrow.png);
background-color: #D9290B;
}
.dropdown-menu-block {
position: absolute;
/*right: 0;*/
top: 44px;
z-index: 90;
display:none;
}
.dropdown-menu-block {
/*right: 0 !important;
left: auto !important;*/
}
.arrow-block {
height: 13px;
margin-top: -1px;
}
.drop-arrow {
background-position: center -25px;
background-repeat: no-repeat;
height: 13px;
background-image: url(../images/dropdown_arrow2.png);
position: absolute;
width: 30px;
z-index: 90;
right: 9px;
}
.drop-menu-bg {
min-height: 200px;
background-image: url(../images/shockvl-bg.png);
background-position: left top;
background-repeat: repeat-x;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-left-radius: 5px;
-webkit-box-shadow: 0px 1px 4px rgba(50, 50, 50, 0.6);
-moz-box-shadow: 0px 1px 4px rgba(50, 50, 50, 0.6);
box-shadow: 0px 1px 4px rgba(50, 50, 50, 0.6);
padding: 5px 0;
}
.menu-about, a.menu-about, a.menu-about:link, a.menu-about:visited, a.menu-about:active {
height: 40px;
background-image: url(../images/menu_sprite.png);
background-position: 13px -80px;
background-repeat: no-repeat;
display: block;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
color: #615F5D;
font-size: 14px;
line-height: 21px;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
padding: 8px 40px 0 55px;
}
.menu-about, a.menu-about, a.menu-about:link, a.menu-about:visited, a.menu-about:active {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -80px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #615F5D;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
a.menu-about:hover {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px 5px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: white;
	font-size: 14px;
	line-height: 21px;
	background-color: #D9290B;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
.menu-pro-membership, a.menu-pro-membership, a.menu-pro-membership:link, a.menu-pro-membership:visited, a.menu-pro-membership:active {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -280px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #615F5D;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
a.menu-pro-membership:hover {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -180px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: white;
	font-size: 14px;
	line-height: 21px;
	background-color: #D9290B;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
.menu-free-membership, a.menu-free-membership, a.menu-free-membership:link, a.menu-free-membership:visited, a.menu-free-membership:active {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -480px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #615F5D;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
a.menu-free-membership:hover {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -380px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: white;
	font-size: 14px;
	line-height: 21px;
	background-color: #D9290B;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
.menu-faq, a.menu-faq, a.menu-faq:link, a.menu-faq:visited, a.menu-faq:active {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -652px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #615F5D;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
a.menu-faq:hover {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -572px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: white;
	font-size: 14px;
	line-height: 21px;
	background-color: #D9290B;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
.menu-blogs, a.menu-blogs, a.menu-blogs:link, a.menu-blogs:visited, a.menu-blogs:active {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -820px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #615F5D;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
a.menu-blogs:hover {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -730px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: white;
	font-size: 14px;
	line-height: 21px;
	background-color: #D9290B;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
.menu-developers, a.menu-developers, a.menu-developers:link, a.menu-developers:visited, a.menu-developers:active {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -1008px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #615F5D;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
a.menu-developers:hover {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -918px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: white;
	font-size: 14px;
	line-height: 21px;
	background-color: #D9290B;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
.menu-copyright, a.menu-copyright, a.menu-copyright:link, a.menu-copyright:visited, a.menu-copyright:active {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -1163px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #615F5D;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
a.menu-copyright:hover {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -1098px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: white;
	font-size: 14px;
	line-height: 21px;
	background-color: #D9290B;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
.menu-contact, a.menu-contact, a.menu-contact:link, a.menu-contact:visited, a.menu-contact:active {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -1293px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #615F5D;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
a.menu-contact:hover {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -1228px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: white;
	font-size: 14px;
	line-height: 21px;
	background-color: #D9290B;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
.menu-privacy, a.menu-privacy, a.menu-privacy:link, a.menu-privacy:visited, a.menu-privacy:active {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -1423px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #615F5D;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
a.menu-privacy:hover {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -1358px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: white;
	font-size: 14px;
	line-height: 21px;
	background-color: #D9290B;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
.menu-terms, a.menu-terms, a.menu-terms:link, a.menu-terms:visited, a.menu-terms:active {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -1553px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #615F5D;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
a.menu-terms:hover {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -1488px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: white;
	font-size: 14px;
	line-height: 21px;
	background-color: #D9290B;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
.menu-resellers, a.menu-resellers, a.menu-resellers:link, a.menu-resellers:visited, a.menu-resellers:active {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -1684px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #615F5D;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
a.menu-resellers:hover {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -1619px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: white;
	font-size: 14px;
	line-height: 21px;
	background-color: #D9290B;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
.menu-company, a.menu-company, a.menu-company:link, a.menu-company:visited, a.menu-company:active {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -1760px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #615F5D;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
a.menu-company:hover {
	height: 40px;
	background-image: url(../images/menu_sprite.png);
	background-position: 13px -1850px;
	background-repeat: no-repeat;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: white;
	font-size: 14px;
	line-height: 21px;
	background-color: #D9290B;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding: 8px 40px 0 55px;
}
.top-gray-button, a.top-gray-button, a.top-gray-button:link, a.top-gray-button:visited, a.top-gray-button:active {
display: block;
float: right;
color: #ffffff;
font-weight: bold;
margin: 12px 10px 0 0;
background-color: rgb(9, 68, 1);
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
font-size: 13px;
line-height: 14px;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
text-decoration: none;
padding: 5px 10px 7px 10px;
height: 26px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
a.top-gray-button:hover {
color: white;
background-color: #D9290B;
}
/**END TOP NAV**/
/**CONTENT**/
#wrapper{margin:0; padding:0; display:inline-table; margin-top:80px; width:100%;}
#content{width:1000px; margin: 0 auto;}
#content-left{float:left; width:730px;}
#content-right{float: right; width:250px;}
#left-content{
background-color: #FFFFFF;
border-radius: 5px 5px 5px 5px;
box-shadow: 1px 1px 2px 2px #AAAAAA;
width:100%;
}
#entries-content {
padding: 0 20px;
}
.grid{width:100%; display:inline-table;border-bottom: 1px solid #DDDDDD;padding: 20px 0 30px;
}
.grid.last{border-bottom:none;}
.grid .grid-left{width:460px; float:left;}
.grid .grid-right{width:220px; float:right}
.grid-left .img-wrap a{display:block}
.grid-left .img-wrap img {
max-width: 460px;
}
.videoPlay {
position: relative;
top: -207px;
margin-bottom: -64px;
left: 190px;
}
.grid-right .info-entries{width:100%; padding:0px 0px 0px 0px;}
.info-entries h1 {
color: #3c8915;
font-size: 20px;
font-weight: normal;
}
.uploader {
margin: 5px 0px 5px 0px;
font-size: 11px;
color: #7D7D7D;
}
.uploader a{font-weight: bold;}
.sharing-box {
margin:10px 0px 0px 0px;
width: 220px;
}
.grid-right .sharing-box .facebook-share-btn {
float: right;
}
.sharing-box .sharing {
background-color: #F4F4F4;
border: 1px solid #DDDDDD;
border-radius: 5px 5px 5px 5px;
box-shadow: 0 1px 2px #EEEEEE, 0 0 0 1px #FFFFFF inset;
list-style-type: none;
margin: 0 0 10px;
padding: 5px;
width: 100%;
}
.buttons {
line-height: 30px;
padding: 0 10px;
font-size: 12px;
font-weight: bold;
background-color:#0d6934;
color: white;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-webkit-transition: background-color .2s linear;
-moz-transition: background-color .2s linear;
border: 1px solid rgba(0, 0, 0, .2);
box-shadow: 0 0 0 1px rgba(255, 255, 255, .4) inset, 0 1px white;
-moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, .4) inset, 0 1px #fff;
-webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, .4) inset, 0 1px white;
text-shadow: 0 -1px rgba(0, 0, 0, .2);
text-align: center;
min-width: 45px;
cursor: pointer;
}
a.nextListPage {
float: left;
width: 635px;
color: white;
display: none;
margin-bottom: 10px;
}
.buttons:hover
{
    background-color: #3c8915;
}
.buttons:active
{
    margin-top:5px;
    background-color: #3c8915;
}
/**END CONTENT**/
/**CONTENT DETAIL**/
.post-info-pad {
background-color: #EDEFF4;
border-bottom: 1px solid #A8B2CE;
padding: 10px 15px 5px 15px;
position: relative;
}
.post-info-pad h1 {
color: #3c8915;
font-size: 22px;
font-weight: normal;
margin: 0 0 8px;
overflow: hidden;
text-overflow: ellipsis;
width: 490px;
}
.post-info-pad p {
color: #999999;
font-size: 12px;
line-height: 15px;
margin: 0;
padding: 1px 0;
}
#view_count {
background: url("../images/views.png") no-repeat scroll left center transparent;
display: inline-block;
padding-left: 16px;
margin: 0 5px;
}
#like_count {
background: url("../images/like.png") no-repeat scroll left center transparent;
display: inline-block;
padding-left: 16px;
margin: 0 5px;
}
#view_comment {
background: url("../images/comment.png") no-repeat scroll left center transparent;
display: inline-block;
padding-left: 16px;
margin: 0 5px;
}
.post-info-pad p span.comment {
margin: 0 5px;
}
.userinfo {
background-color: #CAD0E0;
color: #545454;
float: left;
list-style-type: none;
margin: 0;
overflow: hidden;
padding: 3px 5px;
position: absolute;
right: 15px;
top: 15px;
width: 200px;
}
.userinfo .uinfo {
float: left;
margin-left: 3px;
}
.userinfo .uinfo a {
display: block;
line-height: 13px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
width: 165px;
}
.user-bar {
background-color: #A1A1A1;
float: left;
height: 13px;
position: relative;
width: 160px;
margin: 3px;
}
.user-bar .bar-blue {
background-color: #1877B9;
float: left;
height: 13px;
width: auto;
}
.user-bar .bar-c {
color: #FFFFFF;
font-size: 10px;
height: 13px;
left: 35px;
line-height: 13px;
position: absolute;
text-align: center;
top: 0;
width: 80%;
z-index: 8;
}
.level {
color: #FFFFFF;
float: right;
font-size: 10px;
left: 5px;
position: absolute;
}
.userinfo img {
float: left;
height: 30px;
width: 30px;
}
#post-control-bar {
background-color: #F4F4F4;
border-bottom: 1px solid #DDDDDD;
box-shadow: 0 0 0 1px #FFFFFF inset;
height: 41px;
position: relative;
z-index: 3;
}
#content-holder .spread-bar {
float: left;
margin-left: 20px;
width: auto;
}
.spread-bar {
height: 20px;
margin: 0 auto;
padding: 10px 0;
float: left;
margin-left: 20px;
width:500px;
}
#post-control-bar .spread-bar .facebook-btn {
margin-right: 5px;
}
#post-control-bar .spread-bar .facebook-share-btn {
margin-right: 15px;
padding-top: 1px;
}
.spread-bar .google-btn {
margin-right: -10px;
}
.post-next-prev {
float: right;
}
.post-next-prev .prev-post {
background: url("../images/prev_icon.png") no-repeat scroll 0 -16px transparent;
color: #333333;
float: left;
font-weight: bold;
margin: 12px 5px;
padding-left: 16px;
}
.post-next-prev .next-post {
background: url("../images/next_icon.png") no-repeat scroll right -16px transparent;
color: #333333;
float: right;
font-weight: bold;
margin: 12px 10px;
padding-right: 16px;
}
.content-article{padding:20px 20px 0px 20px;}
.post-container {
padding: 0 0 16px;
position: relative;
text-align: center;
}
.post-container img {
border: medium none;
display: block;
margin: 0 auto;
max-width: 700px;
}
.post-container .img-wrap {
overflow: hidden;
position: relative;
}
#post-control-bar {
background-color: #F4F4F4;
border-bottom: 1px solid #DDDDDD;
box-shadow: 0 0 0 1px #FFFFFF inset;
height: 41px;
position: relative;
z-index: 3;
}
#post-control-bar .post-ctr-bar{width:auto !important}
.comment-section h3.title {
color: #3B5998;
font-size: 14px;
margin: 20px 20px 0;
padding-bottom: 12px;
}
.comment-section .report-and-source {
float: right;
margin: -26px 20px 0;
}
.comment-section .report-and-source p {
color: #666666;
margin: 0;
}
.comment-section .report-and-source .report {
color: #E92D6C;
font-weight: normal;
}
.post-meta-bar .info p a.report, a.report {
background: url("../images/bad.png") no-repeat left center transparent;
color: #E92D6C;
line-height: 14px;
padding-left: 16px;
transition: color 0.2s linear 0s;
}
.post-may-like {
background-color: #F4F4F4;
border-top: 1px solid #DDDDDD;
box-shadow: 0 0 0 1px #FFFFFF inset;
margin: 40px 0 0;
}
.post-may-like #entries-content {
padding: 20px;
}
#entries-content.grid ul.col-1, #entries-content.grid ul.col-2 {
margin-right: 20px;
}
#entries-content.grid ul, #entries-content.collage ul {
float: left;
list-style-type: none;
margin: 0;
padding: 0;
}
#entries-content.grid ul, #entries-content.collage ul {
float: left;
list-style-type: none;
margin: 0;
padding: 0;
}
#entries-content.grid ul li {
height: 183px;
margin-bottom: 20px;
width: 220px;
}
#entries-content ul li a {
position: relative;
}
.thimage {
background-color: #DDDDDD;
border: 1px solid #DDDDDD;
border-radius: 4px 4px 4px 4px;
box-shadow: 0 1px #FFFFFF;
height: 152px;
overflow: hidden;
padding: 2px;
transition: background-color 0.2s linear 0s;
width: 200px;
padding: 5px;
}
#entries-content.grid ul li a img {
width: 200px;
}
#entries-content.grid ul li h1 {
color: #222222;
font-size: 12px;
font-weight: normal;
margin: 6px 0 0;
}
#entries-content.grid ul li h1 {
color: #222222;
font-size: 12px;
font-weight: normal;
margin: 6px 0 0;
}
/**END CONTENT DETAIL**/
/**SIDE BAR**/
#side-bar{margin-top:10px; width:100%;}
a.spcl-button {
background-color: #6381BF;
border: 1px solid rgba(0, 0, 0, 0.2);
color: #FFFFFF;
display: block;
font-size: 12px;
font-weight: bold;
margin-bottom: 20px;
padding: 10px;
text-align: center;
text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
}
a.spcl-button {
    background-color: #6381BF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
}
a.spcl-button.red {
    background-color: #E15F4E;
}
a.spcl-button.green {
    background-color: #399A35;
}
a.spcl-button.facebook {
    background: url("../images/sprite_v12.png") no-repeat scroll -386px -1590px #3B5998;
    margin-bottom: 0;
}
a.spcl-button:hover {
    background-color: #3B5998;
}
a.spcl-button.red:hover {
    background-color: #F96655;
}
a.spcl-button.green:hover {
    background-color: #43B93F;
}
a.spcl-button.facebook:hover {
    background-color: #2C57A5;
}
a.spcl-button:active {
    background-color: #0082BD;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.3) inset, 0 0 10px rgba(255, 255, 255, 0.2) inset, 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 2px !important;
    padding: 11px 0 12px;
}
a.spcl-button.red:active {
    background-color: #C65143;
}
a.spcl-button.green:active {
    background-color: #2E7F2B;
}
a.spcl-button.facebook:active {
    background-color: #112F61;
}
.online {
background-color: #EDEFF4;
border: 1px solid #BBBBBB;
box-shadow: 0 1px #EEEEEE, 0 0 0 1px #FFFFFF inset;
clear: right;
color: #666666;
margin-bottom: 10px;
position: relative;
text-shadow: 0 1px #FFFFFF;
}
.online h3 {
border-left: 8px solid #1A3C6C;
border-bottom: 1px solid #A8B2CE;
color: #3B5998;
margin: 0;
padding: 10px;
}
.who_online ul {
margin: 0;
padding: 7px;
padding-left: 9px;
}
.who_online li {
float: left;
margin: 4px;
}
.tabs-wrap{width:100%;display: inline-table;}
.tabs-wrap .tabs-head {
font-size: 0;
line-height: 0;
border-bottom: 1px solid #e1e1e1;
text-align: left;
}
.tabs-wrap .tabs-head a.active {
color: #717171;
font-weight: bold;
cursor: default;
background-color: #fff !important;
margin-bottom: -1px !important;
border-bottom: 1px solid #fff;
}
.tabs-wrap .tabs-head a {
display: -moz-inline-stack;
display: inline-block;
vertical-align: top;
color: #717171;
zoom: 1;
padding: 0 15px;
line-height: 30px;
font-size: 14px;
border: 1px solid #e1e1e1;
margin: 0 -1px;
border-bottom: 0;
background-color: #f4f4f4;
}
.tabs-wrap .tabs-contents {
background: url(../images/gradient-bot-top.jpg) repeat-x left bottom;
}
.tabs-wrap .tabs-contents {
border-top: 1px solid #fff;
margin-top: 0;
padding: 5px 5px;
}
.box, .shadow{
border: 1px solid #ccc;
background-color: #fff;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}
.tabs-wrap .tabs-contents .content {
display: none;
text-align: left;
color: #717171;
}
.tabs-wrap .tabs-contents .content.active {
display: block;
}
.over {
background-color: #FFF;
height: auto;
width: 240px;
margin: 0 0 10px 0;
border: 1px solid #AECEDB;
border-style: dashed;
border-radius: 3px;
font-size: 11px;
position: relative;
}
.over div#avatar {
margin: 2px;
}
.over div.over_info {
height: auto;
float: left;
}
.over img#avatar {
height: 38px;
width: 38px;
float: left !important;
border: 1px solid #AECEDB;
border-radius: 3px;
}
.over div#information {
width: 180px;
margin-left: 10px;
}
.over div#rank {
left: 0;
position: absolute;
top: 0;
}
.over img#rank {
height: 20px;
width: 20px;
float: left;
margin: 30px 0 0 2px;
}
.over p{margin-bottom:2px;}
/**END SIDE BAR**/
