body 
{
    font-size: 62.5%;
    color: #444;
    font-family: Tahoma, Arial;
    background-color: #edf0ef;
    line-height: 1;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, select, input, textarea, legend, caption, tbody, tfoot, thead, th 
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}
.wrapper 
{
width: 1000px;
margin: 0 auto;
line-height: 19px;
font-size: 12px;
}
.content {
width: 100%;
margin: 0 auto;
clear: both;
position: relative;
height:100%;
}
ol, ul, li 
{
list-style: none;
}
a {
color: #404040;
text-decoration: none;
}
a:hover {color:#0c88ad;}
a, a:hover, .button:hover, .submit:hover, .btnsearch:hover, .gray-button:hover {cursor: pointer;text-decoration: none;}
button, input {
line-height: normal;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}
.clr{clear: both;}
.hidden{display:none;}
/******Top nav***/
#nav-top {background:#fff;height:28px;border-bottom:1px solid #e6e6e6; border-bottom: 1px solid #E1E1E1; width:100%; }
ul.menuchild { width:980px; margin:0 auto; position:relative;}
ul.menuchild li {line-height:28px;font-size:11px;font-weight:bold;float:left;list-style:none;display:inline-block;border-right:1px solid #c3c3c3; background:url(../images/arrow_1.2.png) right no-repeat; display:inline;}
ul.menuchild li a {color:#555;text-decoration:none;display:inline-block;padding:0 15px; font-weight:normal;}
ul.menuchild li a:hover {color:#0c88ad;}
ul.menuchild li a.city{color:#555;text-decoration:none;display:inline-block;padding:0 10px; font-weight:normal; font-size:12px; border-left:#c3c3c3 solid 1px; padding-right:26px;}
ul.menuchild li.city a:hover{color:#0070bc;}
ul.menuchild li.weather a{color:#555;text-decoration:none;display:inline-block;padding:0 9px; font-weight:normal; padding-right:26px; _padding-top:5px; _height:23px; }
ul.menuchild li.weather a:hover{color:#0070bc;}
ul.menuchild li.weather img {margin-right: 2px; vertical-align: -5px; }
ul.menuchild li.gold a {background:url(../images/icons_1.4.gif) 8px -42px no-repeat; padding-left:38px; height:28px; padding-right:26px;}
ul.menuchild li.money a{background:url(../images/icons_1.4.gif) 10px -94px no-repeat; padding-left:26px; height:28px; padding-right:26px;}
ul.menuchild li.mail { position:relative; }
ul.menuchild li.mail a{background:url(../images/icons_1.4.gif) 0 -158px no-repeat; padding-left:36px; padding-right:26px;}
ul.menuchild li.date{background:url(../images/icons_1.4.gif) 0 -187px no-repeat; padding-left:35px; padding-right:10px; }
ul.menuchild li.bookmark{background:url(../images/icons_1.4.gif) 0 -962px no-repeat; padding-left:2px; font-weight:normal;  padding-right:-10px; float:right; }
ul.menuchild li.bookmark a{color:#1198b6; font-weight:bold; padding:0 9px 0 25px}
ul.menuchild li.date a { padding: 0px; }
/* Select box city */
#cityList li { border-right:0 !important; background:none;}
.weather_location ul {background-color: #FFFFFF;border: 1px solid #CCCCCC;display: block; height: 273px;left: 0;line-height: normal;overflow-y: auto;position: absolute;width: 160px;-moz-box-shadow:  0 6px 6px -5px #bbb; -webkit-box-shadow: 0 6px 6px -5px #bbb; -ms-box-shadow:  0 6px 6px -5px #bbb;  -o-box-shadow:  0 6px 6px -5px #bbb;   box-shadow: 0 6px 6px -5px #bbb;
z-index: 5;top:29px;}
.weather_location ul li {border-bottom: 1px solid #EEEEEE;display: block;float: none;margin: 0; background:none;}
.weather_location ul li a {background: none repeat scroll 0 0 transparent;border: 0 none;display: block;float: none;padding: 0px 6px;text-align: left; background:none;}
.weather_location ul li a:hover {background-color: #EEEEEE;color: #333333;display:block}
/* Select box mail */
#mailList li { border-right:0 !important; background:none;}
.mail ul {background-color: #FFFFFF;border: 1px solid #CCCCCC;display: none; height: 117px;line-height: normal;overflow-y: auto;position: absolute;width: 113px;-moz-box-shadow:  0 6px 6px -5px #bbb; -webkit-box-shadow: 0 6px 6px -5px #bbb; -ms-box-shadow:  0 6px 6px -5px #bbb;  -o-box-shadow:  0 6px 6px -5px #bbb;   box-shadow: 0 6px 6px -5px #bbb;
z-index: 6;top:28px; left: 0px;}
.mail ul li {border-bottom: 1px solid #EEEEEE;display: block;float: none;margin: 0; background-image:none;}
#mailList a {border: 0 none;display: block;float: none;padding: 0px 6px;text-align: left; background-image:none;}
.mail ul li a:hover {background-color: #EEEEEE;color: #333333;display:block}
/******End Top Nav****/
/** TOOL SEARCH **/
#header 
{ 
	height:103px;
	border-bottom: 2px solid #009e69;	
	background: #00ad73;
	width:100%;
	margin:0 auto;
}
.header_content{ width:100%; margin:0 auto; background-color:#00ad73;height:95px;padding-top:10px;}
#header .logo { float: left; margin:17px 10px 0 10px; width:230px; height:60px;}
#header .logo a { display:block; width:100%; height:100%; overflow: hidden; text-indent:-999px; background: url(../images/logo_laban.jpg) no-repeat left top; }
#header .search_box {float: left;margin: 10px 0 0 2px;position: relative;width: 630px;}
#header .search_box li {float:left;font-size:12px;padding:0 16px 10px 0;line-height:12px;margin-bottom:5px; text-shadow:0 1px #666;}
#header .search_box li.select{ background:url(../images/arrow_sub_1.1.png) center 15px no-repeat; padding-right:0; margin-right:7px; }
#header .search_box li.select a{ color:#0b85ac; background:#FFF;text-shadow:none; padding:2px 6px 2px 5px}
#header .search_box li.select a:hover{ color:#0b85ac;}
#header .search_box li a.other{ background:url(../images/arrow_other.png) right no-repeat; padding-right:12px;}
#header .search_box li a {color:#fff;text-transform:uppercase}
#header .search_box li a:hover {color:#fbcc3c;text-decoration:none;}

.input_search 
{ 
	float:left;
	width:490px;
	height:36px;
	margin-right:12px;
	border:#fff solid 1px;
	box-shadow: inset 1px 1px 3px #CCC;
	position:relative;
	background-color:#fff;
	display:inline;
}
.input_search input
{ 
	padding:0 7px 0 90px;
	background:url(../images/logo_engine.1.01.gif) no-repeat left;
	background-color:#fff;
	border:0;
	width: inline;
	height:30px;
	font-size:14px;
	color:#999;
	margin:4px;
}

a.search_btn
{ 
	display:block;
	float:left;
	height:30px;
	width:75px;
	background:url(../images/imgsprt_1.2.gif) 0 -160px;
	width:112px;
	height:39px;
	text-indent:-99999px;
}
a.search_btn:hover
{ 
	background:url(../images/imgsprt_1.2.gif) -120px -160px;
}

#header .search_box input.google { background-repeat:no-repeat; background-position: 0 -10px; padding-left:90px; width:390px; }
#header .search_box input.zingmp3 { background-repeat:no-repeat; background-position: 0 -60px; padding-left:105px; width:375px; }
#header .search_box input.googleimg { background-repeat:no-repeat; background-position: 0 -110px; padding-left:125px; width:355px; }
#header .search_box input.googlenews { background-repeat:no-repeat; background-position: 0 -161px; padding-left:125px; width:355px; }
#header .search_box input.googlemap { background-repeat:no-repeat; background-position: 0 -211px; padding-left:125px; width:355px; }
#header .search_box input.googlevideo { background-repeat:no-repeat; background-position: 0 -262px; padding-left:125px; width:355px; }
#header .search_box input.googletranslate { background-repeat:no-repeat; background-position: 0 -311px; padding-left:150px; width:330px; }
#header .search_box input.yahooanswer { background-repeat:no-repeat; background-position: 0 -361px; padding-left:150px; width:330px; }
#header .search_box input.baomoi { background-repeat:no-repeat; background-position: 0 -411px; padding-left:80px; width:400px; }


.input_search a
{ 
	display:block;
	background:url(../images/imgsprt_1.2.gif) 0 -34px no-repeat;
	width:32px;
	height:32px;
	text-indent:-99999px;
	position:absolute;
	top:2px;
	right:2px;
}
.setpage
{
	float:right;
	margin:27px 8px 0 0;
}
.setpage ul li
{
	float:left;
}
.setpage ul li a
{
	color:#fff;
	text-shadow:0 1px #4a4a4a;
	padding-top:32px;
	width:80px;
	height:25px;
	display:inline-block;
}
.setpage ul li a:hover
{
	color:#fbcc3c;
}
.setpage ul li a.set_homepage
{
	background: url(../images/imgsprt_1.1.gif) -45px -37px no-repeat;
}
.setpage ul li a.set_shortcut
{
	background: url(../images/imgsprt_1.1.gif) -133px -37px no-repeat;
	width:75px;
}
/*END TOOL SEARCH*/
/*HOT SITE*/
#hot-site{margin-top:10px}
.hotsite_b
{
border: 1px solid;
border-color: #d7ddde #d7ddde #cacccc #dfe4e6;
position: relative;
z-index: 2;
}
.hotsite_wrap 
{
width: 100%;
text-align: center;
overflow: hidden;
background-color: #fcfdff;
}
.hotsite {
background-color: #fcfdff;
overflow: hidden;
padding: 5px 6px 10px 11px;
border: 1px solid;
border-color: #FFF;
border-bottom: 0;
/*letter-spacing: -.3em;*/
/*word-spacing: -.3em;*/
float: left;
width: 98%;
}
.hotsite ul li {
float: left;
width: 122px;
height: 75px;
text-align: center;
margin-bottom: 9px;
display: block;
z-index: 5;
position: relative;
padding-top: 7px;
}
.hotsite ul li:hover{background: #ebebeb}
img.favi48 {
background-repeat: no-repeat;
background-position: center center;
width: 48px;
height: 48px;
text-align: center;
vertical-align: middle;
display: table-cell;
overflow: hidden;
display: block;
-moz-box-shadow: 0 1px 3px #2d2d2d;
-webkit-box-shadow: 0 1px 3px #2d2d2d;
-ms-box-shadow: 0 1px 3px #2d2d2d;
-o-box-shadow: 0 1px 3px #2d2d2d;
box-shadow: 0 1px 3px #2d2d2d;
}
.margin_favi {
margin: 0 auto 5px;
}
.last {
margin-right: 0 !important;
padding-right: 0 !important;
}
.hotsite-custom {
border-top: 1px solid #e2f2ed;
background: #FFF;
position: relative;
zoom: 1;
}
.hotsite-custom_bar {
width: 100%;
outline: 0;
position: relative;
}
.hotsite-custom_bar a {
cursor: pointer;
display: inline-block;
position: absolute;
height: 15px;
width: 43px;
left: 50%;
margin-left: -21px;
top: -15px;
background: url(../images/i-news_item.png) no-repeat -1px -233px;
}
.hotsite-custom .bar_open a {
background: url(../images/i-news_item.png) no-repeat -1px -296px;
}
.hotsite-custom_list {
display: none;
padding-bottom: 10px;
position: relative;
text-align: left;
display:inline-block !important
}
.custom_item {
float: left;
width: 178px;
border: 1px solid #F5F6F7;
background-color: #fafbfc;
margin: 10px 0 0 10px;
height: 24px;
display: inline;
border-radius: 2px;
cursor: pointer;
}
.custom_item span.ico-txt {
margin: 4px;
padding-left: 40px;
height: 16px;
line-height: 16px;
width: 115px;
overflow: hidden;
float: left;
white-space: nowrap;
color: #454545;
text-overflow: ellipsis;
-o-text-overflow: ellipsis;
}
.custom_item .site-icon {
margin-left: -21px;
margin-right: 5px;
vertical-align: top ;
}
.site-icon {
height: 16px;
width: 16px;
overflow: hidden;
display: inline-block;
}
.hotsite-custom_list .add-btn {
background: url(../images/bg.png) repeat-x 0 -685px;
border: 1px solid;
border-color: #ebebeb #ebebeb #d9dcde #ebebeb;
text-align: center;
color: #909191;
height: 24px;
line-height: 24px;
cursor: pointer;
display: none;
white-space: nowrap;
}
.hotsite-custom_list .add-btn-ico {
display: inline-block;
background: url(../images/i-news_item.png) no-repeat -12px -96px;
width: 12px;
height: 16px;
vertical-align: middle;
}
/*END HOT SITE*/
/*CATEGORY*/
#cat-content{margin:0 auto;display:inline-block; margin-top:10px; width: 100%;}
#cat-left{float:left;width:  76%;}
#cat-right{float:right; width: 22.5%}
.box_shadow {
-moz-box-shadow: 0 0 2px #888;
-webkit-box-shadow: 0 0 2px #888;
-ms-box-shadow: 0 0 2px #888;
-o-box-shadow: 0 0 2px #888;
box-shadow: 0 0 2px #888;
border: #d4d4d4 solid 1px	9;
margin-bottom: 20px;
clear: both;
}
ul.menu_left 
{
float: left;
width: 100%;
}
ul.menu_left li {
list-style: none;
}
ul.menu_left h3 {
font-weight: normal;
}
ul.menu_left li a {
display: block;
padding-left: 35px;
padding-top: 7px;
height: 27px;
list-style: none;
}
ul.menu_left li a.listen_radio {
background: url(../images/icons_1.4.gif) 0 -220px no-repeat;
}
ul.menu_left li a.cinema {
background: url(../images/icons_1.4.gif) 0 -287px no-repeat;
}
ul.menu_left li a.tivi_show {
background: url(../images/icons_1.4.gif) 0 -323px no-repeat;
}
ul.menu_left li a.ticket {
background: url(../images/icons_1.4.gif) 0 -356px no-repeat;
}
ul.menu_left li a.football {
background: url(../images/icons_1.4.gif) 0 -390px no-repeat;
}
ul.menu_left li a:hover{color: #0c88ad;}
/*Context category*/
.grid {
width: 25%;
float:left;
}
.s-mrm, .s-mhm, .s-mam {
margin-right: 12px!important;
}
.s-mtm, .s-mvm, .s-mam {
margin-top: 10px!important;
}
.sortsite dd a,.mod-side a,.box-bot a {
	color: #595959
}
.sortsite {
	white-space: nowrap;
	overflow: hidden;
	border: 1px solid #E3E5E6;
	border-bottom: 1px solid #dcddde;
	background: #fafcfc
}
.sortsite dt {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #edeff0;
	color: #23C098;
	font-size: 14px;
	overflow: hidden;
	position: relative;
	background: url(../images/repeat-x.png) repeat-x
}
.sortsite dt:hover {
	border-bottom: 1px solid #cfd0d1;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2)
}
.sortsite a: hover {
	text-decoration: none
}
.sortsite dt.click {
	background-position: 0 -31px
}
.sortsite a {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.sortsite dt a {
	color: #00B075;
	_margin-right: 20px;
	font-weight: 600;
	text-indent: 8px;
	_width: 89%
}
.arrow_r {
position: absolute;
font-family: Tahoma;
}
.sortsite dt .arrow_r,{
	width: 0;
	height: 0;
	border: 5px dashed transparent;
	border-left: 5px solid #3dc094;
	right: 4px;
	top: 10px;
	overflow: hidden
}
.sortsite dd {
	overflow: hidden;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff
}
.sortsite dd a {
	display: block;
	overflow: hidden;
	line-height: 31px;
	height: 31px;
	width: 100%;
	text-indent: 8px
}
.sortsite dd a:hover {
	background: #e8eaeb
}
.sortsite_more {
	font-family: Verdana;
	text-align: right;
	text-indent: 0;
	background: #F9FAFA;
	position: absolute;
	right: 0;
	top: 0;
	float: right
}
/*En context category*/
/*END CATEGORY*/
/**COPYRIGHT*/
.copyright {
padding: 7px 10px 10px 10px;
background: #edfbff;
text-shadow: 0 1px #fff;
font-size: 11px;
}
.blue {
color: #1198b6;
}
.copyright ul {
margin-left: 10px;
}
.copyright ul li {
list-style-image: url(../images/dot_style.png);
padding-top: 5px;
}
/**END COPYRIGHT**/
/**FOOTER**/
#footer-content {
margin: 0 auto;
display: inline-block;
margin-top: 10px;
width: 100%;
text-align: center;
margin-bottom: 10px;
}
.box-fot {
margin: 19px 0;
display: inline-block;
font-size: 12px;
}
.box-fot li {
float: left;
}
.box-fot a {
color: #999;
}
.box-fot .space {
display: inline-block;
font-size: 0;
border-right: 1px solid #999;
height: 10px;
padding-left: 10px;
margin-right: 10px;
margin-bottom: -2px;
}
/**END FOOTER**/
/**CATEGORY DETAIL**/
#category-detail{border: 1px solid; border-color: #d7ddde #d7ddde #cacccc #dfe4e6; padding: 10px; display:inline-table; overflow: hidden;}
.nav_link {
background: url(../images/icons_1.4.gif) -1px -434px no-repeat;
padding: 0 0 7px 22px;
border-bottom: 1px solid; border-color: #d7ddde #d7ddde #cacccc #dfe4e6;
margin-bottom: 20px;
}
.nav_link h2 {
font-size: 14px;
color: #0c88ad;
}
.nav_link h2 a {
font-size: 14px;
font-weight: normal;
}
.f12 {
font-size: 12px;
}
.f12 {
font-size: 12px;
color: #444;
font-weight: normal;
}
/**Category detail*/
.category-detail h2 {
border-left: #efa305 solid 7px;
font-size: 14px;
line-height: 14px;
padding-left: 5px;
}
.category-detail ul {
border-top: #ccc dashed 1px;
padding-top: 15px;
margin-top: 10px;
display: inline-table;
}
.category-detail ul li {
padding: 8px 10px 6px 10px;
border: #cecece solid 1px;
width: 217px;
float: left;
margin: 0 15px 15px 0;
position: relative;
}
.category-detail ul li:hover{border: 1px solid; border-color: #0c88ad;}
.category-detail ul li.hidden {
display: none;
}
.category-detail ul li.last {
margin-right: 0;
}
.ico_web {
float: left;
width: 28%;
}
.info_web {
float: right;
width: 72%;
height: 53px;
overflow: hidden;
margin-top: -2px;
}
.info_web h3 {
line-height: 1;
padding-bottom: 4px;
}
.category-detail ul li.more {
width: 206px;
background: #f5f5f5;
background: -moz-linear-gradient(100% 100% 90deg, #fff, #efefef);
background: -ms-linear-gradient(100% 100% 90deg, #fff, #efefef);
background: -o-linear-gradient(100% 100% 90deg, #fff, #efefef);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#efefef));
margin-right: 0;
}
.category-detail ul li.more h2 a {
background: url(../images/read_more.png) right no-repeat;
height: 30px;
display: block;
font-size: 22px;
line-height: 22px;
color: #a9a9a9;
padding-top: 10px;
width: 160px;
margin: 5px 0 9px 15px;
text-shadow: 0 2px #fff;
}
.category-detail ul li.more h2 {
border: 0;
}
/**End category detail*/
/**END CATEGORY DETAIL**/