.menufeature {
    left: 15px;
    position: absolute;
    top: 15px;
    width: 220px;
    z-index: 100;
}
/** form add thong tin item**/
#add-form{display: none;}

.listCategory .name{border: 1px solid #ccc;font-weight: bold;padding:0px 5px;}
.listCategory .name.disabled{background: #eee};
.listCategory .level_1 .name{margin-left: 0px;}
.listCategory .level_2 .name{margin-left: 20px;}
.listCategory .level_3 .name{margin-left: 40px;}
.listCategory .level_4 .name{margin-left: 60px;}
.listCategory .level_5 .name{margin-left: 80px;}
.listCategory .con1{width: 100px;}

#edit-form .field label{float: none;
    padding: 0;
    width: auto;margin-right: 10px;}